.canvas-decor-foliage {
  background-image: url("/assets/canvas-decor-foliage.png");
}

.canvas-decor-mountains {
  background-image: url("/assets/canvas-decor-mountains-film.png");
}

.canvas-decor-balloon {
  background-image: url("/assets/canvas-decor-balloon.png");
}
